<html>
    <head>
        <title>电影信息数据可视化</title>
        <link rel="stylesheet" type="text/css" href="../css/normal.css">
        <link rel="stylesheet" type="text/css" href="../css/bar.css">
    </head>
    <body onload ="init()">
        <span id="head-bar">条 形 图 展 示</span>
        <button id="index-view" class="ViewChoserBtns">
            <img src="../assets/index-icon.png" class="btn-inner-icon">
            <span class="btn-inner-text">返回首页</span>
        </button>
        <button id="bar-view" class="ViewChoserBtns">
            <img src="../assets/bar-icon.png" class="btn-inner-icon">
            <span class="btn-inner-text">展示条形图</span>
        </button>
        <button id="radar-view" class="ViewChoserBtns">
            <img src="../assets/radar-icon.png" class="btn-inner-icon">
            <span class="btn-inner-text">展示雷达图</span>
        </button>
        <button id="sunfigure-view" class="ViewChoserBtns">
            <img src="../assets/sunfigure-icon.png" class="btn-inner-icon">
            <span class="btn-inner-text">展示旭日图</span>
        </button>
        <button id="pictogram-view" class="ViewChoserBtns">
            <img src="../assets/pictogram-icon.png" class="btn-inner-icon">
            <span class="btn-inner-text">展示象形图</span>
        </button>
        <button id="scatterplot-view" class="ViewChoserBtns">
            <img src="../assets/scatterplot-icon.png" class="btn-inner-icon">
            <span class="btn-inner-text">展示散点图</span>
        </button>

        <div id="bar-chart-container">
            <div id="barchart" style="height: 100%"></div>
        </div>

        <div id="ranker">
            <div class="rank-item">1&nbsp;&nbsp;&emsp;中国机长</div><br>
            <div class="rank-item">2&nbsp;&nbsp;&emsp;隐入尘烟</div><br>
            <div class="rank-item">3&nbsp;&nbsp;&emsp;独行月球</div><br>
            <div class="rank-item">4&nbsp;&nbsp;&emsp;神探大战</div><br>
            <div class="rank-item">5&nbsp;&nbsp;&emsp;小黄人大眼萌：神偷奶爸前传</div><br>
            <div class="rank-item">6&nbsp;&nbsp;&emsp;人间世</div><br>
            <div class="rank-item">7&nbsp;&nbsp;&emsp;忠犬帕尔玛</div><br>
            <div class="rank-item">8&nbsp;&nbsp;&emsp;明日战记</div><br>
            <div class="rank-item">9&nbsp;&nbsp;&emsp;海底小纵队：洞穴大冒险</div><br>
            <div class="rank-item">10&emsp;断·桥</div><br>
            <div class="rank-item">11&emsp;山海经之再见怪兽</div><br>
            <div class="rank-item">12&emsp;外太空的莫扎特</div><br>
            <div class="rank-item">13&emsp;大白鲨之夺命鲨口</div><br>
            <div class="rank-item">14&emsp;猎屠</div><br>
            <div class="rank-item">15&emsp;世界上最爱我的人</div><br>
            <div class="rank-item">16&emsp;永不妥协</div><br>
            <div class="rank-item">17&emsp;迷你世界之觉醒</div><br>
            <div class="rank-item">18&emsp;疯了！桂宝之三星夺宝</div><br>
            <div class="rank-item">19&emsp;猪猪侠大电影·海洋记忆</div><br>
            <div class="rank-item">20&emsp;爱情的代驾</div><br>
            <div class="rank-item">21&emsp;致命记忆之花开双生</div><br>
        </div>

        <script src="../js/sources/echarts.min.js"></script>
        <script src="../js/normal.js"></script>
        <script src="../js/bar.js"></script>
    </body>
</html>