<html>
    <head>
        <title>电影信息数据可视化</title>
        <link rel="stylesheet" type="text/css" href="../css/normal.css">
    </head>
    <body onload ="init()">
        <h2>条形图</h2>
        <button id="index-view" class="ViewChoserBtns"
            onclick="jumpToURL(0)">
            返回首页
        </button>
        <button id="bar-view" class="ViewChoserBtns"
            onclick="jumpToURL(1)">
            展示条状图
        </button>
        <button id="radar-view" class="ViewChoserBtns"
            onclick="jumpToURL(2)">
            展示雷达图
        </button>
        <button id="sunfigure-view" class="ViewChoserBtns"
            onclick="jumpToURL(3)">
            展示旭日图
        </button>
        <button id="pictogram-view" class="ViewChoserBtns"
            onclick="jumpToURL(4)">
            展示象形图
        </button>
        <button id="scatterplot-view" class="ViewChoserBtns"
            onclick="jumpToURL(5)">
            展示散点图
        </button>
        <script src="../js/echarts.min.js"></script>
        <script src="../js/normal.js"></script>
    </body>
</html>