<html>
    <head>
        <title>电影信息数据可视化</title>
        <link rel="stylesheet" type="text/css" href="../css/normal.css">
    </head>
    <body onload ="init()">
        <h2>象形图</h2>
        <button id="index-view" class="ViewChoserBtns">
            <img src="../assets/index-icon.png" class="btn-inner-icon">
            <span class="btn-inner-text">返回首页</span>
        </button>
        <button id="bar-view" class="ViewChoserBtns">
            <img src="../assets/bar-icon.png" class="btn-inner-icon">
            <span class="btn-inner-text">展示条形图</span>
        </button>
        <button id="radar-view" class="ViewChoserBtns">
            <img src="../assets/radar-icon.png" class="btn-inner-icon">
            <span class="btn-inner-text">展示雷达图</span>
        </button>
        <button id="sunfigure-view" class="ViewChoserBtns">
            <img src="../assets/sunfigure-icon.png" class="btn-inner-icon">
            <span class="btn-inner-text">展示旭日图</span>
        </button>
        <button id="pictogram-view" class="ViewChoserBtns">
            <img src="../assets/pictogram-icon.png" class="btn-inner-icon">
            <span class="btn-inner-text">展示象形图</span>
        </button>
        <button id="scatterplot-view" class="ViewChoserBtns">
            <img src="../assets/scatterplot-icon.png" class="btn-inner-icon">
            <span class="btn-inner-text">展示散点图</span>
        </button>
        <script src="../js/echarts.min.js"></script>
        <script src="../js/normal.js"></script>
    </body>
</html>