body {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#head-scatterplot {
    user-select: none;
    color: white;
    position: absolute;
    z-index: 2;
    font-size: 50px;
    font-weight: 800;
    left: 250px;
    top: 50px;
}

#scatterplot-chart-container {
    position: absolute;
    z-index: 1;
    top: 300px;
    left: 300px;
    height: 50%;
    width: 50%;
}

#show-zhexina {
    position: absolute;
    z-index: 5;
    top: 300px;
}